<app-page-header header="Images to PDF" description="Images to PDF"></app-page-header>

<div class="container mt-4">
  <app-file-uploader (onFileUploaded)="onFileSelected($event)" acceptFile="image/*" [multiple]="true"></app-file-uploader>
  <div class="row">
    <div class="col m-2 p-2 image-container d-flex align-items-center" *ngFor="let img of images">
      <img [src]="img.url" alt="PDF Page" class="pdf-image" (click)="docPreview.show(img.url)">
    </div>
  </div>

  <button class="button-7" (click)="generatePDF()" *ngIf="images?.length">Generate PDF</button>
</div>

<app-doc-preview #docPreview></app-doc-preview>
