.sidebar-container {
  width: 20vw;
  background-color: #1e2325;
}

.main-container {
  height: 100vh;
  background-color: #0d1315c2;
}

.side-menu-toggle {
  background: transparent;
  height: 30px;
  z-index: 11;
  width: fit-content;
  min-width: 10px;
}


