<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened class="sidebar-container"
               [fixedInViewport]="true">
    <app-side-menu></app-side-menu>
  </mat-sidenav>

  <mat-sidenav-content class="main-container">
    <div class="top-header">
      <button class="side-menu-toggle" mat-button (click)="sidenav.toggle()">
        <i class="fa-solid fa-bars"></i>
      </button>
      <app-top-menu style="flex-grow: 1"></app-top-menu>
    </div>
    <div class="content-wrapper fade-in">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

