<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened class="sidebar-container"
               [fixedInViewport]="true">
    <app-side-menu></app-side-menu>
  </mat-sidenav>

  <mat-sidenav-content class="main-container">
    <div class="d-flex align-items-center">
      <button class="side-menu-toggle" mat-button (click)="sidenav.toggle()">
        <i class="fa-solid fa-bars"></i>
      </button>
      <app-top-menu class="me-3" style="flex-grow: 1"></app-top-menu>
    </div>
    <div class="p-3">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

