<app-page-header header="CSS Snippets" description="CSS Snippets"></app-page-header>

<div class="row">
  <div class="col-12">
    <div class="snippet-list">
      <mat-list class="d-flex justify-content-start">
        @for (item of codeSnippets; track item) {
          <mat-list-item style="width: auto" [ngClass]="item.isSelected ? 'selected' : ''">
            <span class="pointer" (click)="onSelect(item)">{{ item.name }}</span>
          </mat-list-item>
        }
      </mat-list>
    </div>
  </div>
  <div class="col-12 row">
    <div *ngFor="let template of safeTemplates"
         class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-center justify-content-center snippet-item"
         (click)="copySnippet(template)">
      <span [innerHTML]="template.html"></span>
    </div>
  </div>
</div>
