.time {
  font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  height: 170px;
  .time-unit {
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.date {
  font-style: normal;
  font-size: 20px;
  text-align: right;
  padding-right: 60px;
  cursor: pointer;
}
