<app-page-header header="JSON Formatter" description="JSON Formatter"></app-page-header>

<div>
  <div class="mt-4 d-flex justify-content-between align-items-center">
    <div style="width: 49%">
      <label for="unformattedJson">Unformatted JSON:</label>
      <mat-form-field class="w-100">
        <textarea matInput id="unformattedJson" [(ngModel)]="baseValue" rows="25" (ngModelChange)="onBaseValueChange()"></textarea>
      </mat-form-field>
    </div>
    <div style="width: 49%">
      <label for="formattedJson">
        Formatted JSON:
      </label>
      <div class="json-res">
        <ngx-json-viewer id="formattedJson" [json]="resultValue" [expanded]="false"></ngx-json-viewer>
      </div>
    </div>
  </div>
</div>
